@use "utils.scss";
@use "input.scss";
@use "table.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:wght@100;400;700;900&display=swap");

:root {
  --clr-text: hsl(0, 4%, 15%);
  --clr-text-black: hsl(0, 7%, 3%);
  --clr-text-white: hsl(20, 6%, 90%);
  --clr-background: hsl(20, 6%, 90%);
  --clr-background-mute: hsl(220, 13%, 95%);
  --clr-background-app: hsl(0, 0%, 83%);
  --clr-primary: hsl(212, 29%, 47%);
  --clr-primary-dark: hsla(213, 28%, 37%, 0.6);
  --clr-primary-mute: hsla(212, 29%, 47%, 25%);
  --clr-primary-content: var(--clr-text-white);
  --clr-secondary: hsl(183, 59%, 52%);
  --clr-error: hsl(354, 65%, 59%);
  --clr-text-error: var(--clr-text-white);
  --clr-alert: hsl(30, 62%, 69%);
  --clr-accent-green: hsl(127, 53%, 49%);

  --ff-base: "Nunito", sans-serif;
  --ff-heading: "Roboto", sans-serif;

  --fs-200: clamp(0.56rem, calc(0.87rem + -0.4vw), 0.79rem);
  --fs-300: clamp(0.8rem, calc(0.92rem + -0.16vw), 0.89rem);
  --fs-400: clamp(1rem, calc(0.96rem + 0.2vw), 1.1rem);
  --fs-500: clamp(1.1rem, calc(0.96rem + 0.81vw), 1.48rem);
  --fs-600: clamp(1.27rem, calc(0.92rem + 1.71vw), 2.25rem);
  --fs-700: clamp(1.42rem, calc(0.81rem + 3.06vw), 3.18rem);
  --fs-800: clamp(1.6rem, calc(2.59rem + 5.04vw), 6.5rem);
  --fs-900: clamp(8.8rem, calc(6.22rem + 9.93vw), 19.36rem);

  --border-radius: 0.5rem;
  --navbar-height: 85px;

  --rider-card-width: 400px;
  --rider-card-height: 85px;

  --rider-card-width-dynamic: minmax(325px, var(--rider-card-width));
  --rider-card-height-dynamic: minmax(var(--rider-card-height), 130px);
  --box-shadow: 0px 12px 28px -7px rgba(0, 0, 0, 0.35);
}

.dark {
  --clr-background: hsl(247, 11%, 16%);
  --clr-background-mute: hsl(222, 11%, 23%);
  --clr-background-app: hsl(250, 9%, 13%);

  --clr-primary: hsl(212, 29%, 47%);
  --clr-secondary: hsl(184, 59%, 62%);
  --clr-text: var(--clr-text-white);
  --box-shadow: 0px 12px 28px -7px rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 2px solid lime;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

body {
  font-family: var(--ff-base);
  line-height: 1.6;
  font-size: var(--fs-400);
  color: var(--clr-text);
  background: var(--clr-background-app);
  min-height: 100vh;

  // &:has(.primary-navigation[data-visible="true"]) {
  //   height: 100dvh;
  //   overflow: hidden;
  // }
}

main {
  margin-top: calc(var(--navbar-height) + 0.25rem);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
}


ol,
ul {
  padding-left: 1.5rem;

  li {
    padding-left: 0.5rem;
    padding-block: 0.25rem;

    &::marker {
      color: var(--clr-primary);
      font-weight: 800;
    }
  }
}

.wrapper,
.wrapper-lg,
.wrapper-sm,
.wrapper-xs {
  background: var(--clr-background);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.wrapper {
  width: min(100% - 3rem, 240ch);

  .text-section {
    padding-inline: 1rem;
  }

  &:has(.login-form, .register-form) {
    min-height: 70vh;
    place-content: center;
  }
}

.wrapper-lg {
  /* 3* rider card width  + 1rem gap per colum*/
  width: min(100% - 3rem, (var(--rider-card-width) + 1rem) * 3);
}
.wrapper-sm {
  /* 2* rider card width  + 1rem gap per colum*/
  width: min(100% - 3rem, (var(--rider-card-width) + 2rem) * 2);
}

.wrapper-xs {
  width: min(100% - 1rem, var(--rider-card-width));
}

.flow > * + * {
  margin-top: 1em;
}

p {
  margin-bottom: 1em;

  &.subtitle {
    font-style: italic;
    font-weight: 600;
  }

  &.small {
    font-size: var(--fs-300);
  }
}

a {
  color: var(--clr-primary);
  box-shadow: none;
  text-decoration: underline;
  text-decoration-color: var(--clr-primary);
  
  &:visited {
    font-weight: 600;
  }

  &:hover {
    font-weight: 600;
  }
  
  &:not([class]) {
    font-weight: 600;

  }
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-700);
  color: currentColor;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: var(--fs-600);
  color: var(--clr-primary);
  margin-bottom: 0.5rem;
}

h3 {
  font-size: var(--fs-500);
  margin-bottom: 0.35rem;
}

h4 {
  font-size: var(--fs-400);
  font-weight: 800;
  line-height: 1.1;
}



article.race {
  margin-top: 1em;
  margin-bottom: 3em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-center {
  text-align: center;
}