.table {
  --_grid-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
  display: grid;
  background: var(--clr-background-mute);
  padding: 0;
  border: 2px solid var(--clr-background-mute);
  border-radius: var(--border-radius);
  margin: 1em 0;

  &:where(.race-table) {
    --_grid-columns: minmax(1ch, 50px) minmax(3ch, 80px) 1fr 20px minmax(5ch, 8ch) minmax(2ch, 15ch);
  }
  &:where(.result-table) {
    --_grid-columns: 5ch 1fr minmax(4ch, auto) 3ch;
  }
  &:where(.standings-table) {
    --_grid-columns: 5ch minmax(10ch, auto) 7ch 7ch;
  }

  &-header {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-weight: 800;
    color: var(--clr-primary-content);
  }
  &-row {
    list-style-type: none;
    display: grid;
    align-items: center;
    // place-content: center;
    gap: 1rem;
    min-height: 3em;
    padding: 1rem;
    word-break: break-word;
    grid-template-columns: var(--_grid-columns);

    &:nth-of-type(2n) {
      background-color: var(--clr-background);
    }

    &:hover:not(.table-header) {
      cursor: pointer;
      background-color: lightslategray;
      color: var(--clr-text-white);
      .table-grow,
      .table-action {
        text-decoration: underline;
      }
    }
  }

  .user-row {
    font-weight: 800;
  }

  &-action a {
    text-decoration: none;
    color: inherit;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--fs-300);

    span {
      width: 100%;
    }
  }
}
