.table {
  --_grid-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
  display: grid;
  background: var(--clr-background-mute);
  padding: 0;
  border: 2px solid var(--clr-background-mute);
  border-radius: var(--border-radius);
  margin: 1em 0;

  &:where(.race-table) {
    --_grid-columns: minmax(1ch, 50px) minmax(3ch, 80px) 1fr minmax(6ch, 10ch)
      minmax(2ch, 15ch);
  }
  &:where(.result-table) {
    --_grid-columns: 5ch 1fr minmax(4ch, auto) 3ch 3ch;
  }
  &:where(.standings-table) {
    --_grid-columns: 5ch minmax(10ch, auto) 7ch 7ch;
  }

  &-header {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-weight: 800;
    color: var(--clr-primary-content);
  }
  &-row {
    list-style-type: none;
    display: grid;
    align-items: center;
    // place-content: center;
    gap: 1rem;
    min-height: 3em;
    padding: 1rem;
    word-break: break-word;
    grid-template-columns: var(--_grid-columns);

    &:nth-of-type(2n) {
      background-color: var(--clr-background);
    }

    &:hover:not(.table-header) {
      cursor: pointer;
      background-color: var(--clr-primary);
      color: var(--clr-primary-content);
      .table-grow,
      .table-action {
        text-decoration: underline;
      }
    }

    &:last-of-type {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }

  .user-row {
    font-weight: 800;
  }

  &-action a {
    text-decoration: none;
    color: inherit;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--fs-300);

    span {
      width: 100%;
    }
  }
}

.table-type {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .table:where(.race-table) {
    --_grid-columns: minmax(3ch, 75px) 50% minmax(4ch, 10ch);
    --_grid-rows: auto auto;

    grid-template-rows: var(--_grid-rows);
  }
}

section > h2 {
  margin-top: 0.75em;
}
table {
  border-collapse: collapse;
  border: 2px solid var(--clr-primary);
  text-align: left;
  margin: auto;
}

.calender-table {
  width: min(100%, 600px);

  th:first-of-type,
  td:first-of-type {
    width: 25ch;
  }

  @media (width < 500px) {
    font-size: var(--fs-200);
  }
}

.score-table {
  width: min(100%, 600px);

  th:first-of-type,
  td:first-of-type {
    width: 10ch;
  }
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-size: var(--fs-200);
  font-weight: 200;
}

thead,
tfoot {
  background-color: var(--clr-primary);
  color: var(--clr-primary-content);
}

th,
td {
  border: 1px solid var(--clr-primary-dark);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--clr-background-app);
}
