a.btn,
.btn {
  --_button-outline: 3px solid;

  padding: 0.5rem 0.75rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: var(--border-radius);
  font-weight: 900;
  text-decoration: none;
  border: none;
  user-select: none;

  outline: var(--_button-outline) var(--background-mute);
  background: var(--clr-background);

  color: var(--clr-text);
  transition:
    outline 200ms ease-in,
    color 200ms ease-in;

  > a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  &:hover,
  :focus-within {
    cursor: pointer;
    outline: var(--_button-outline) var(--clr-primary);
  }

  &-active {
    color: var(--clr-text);
    outline: var(--_button-outline) var(--clr-primary);
  }

  &-primary {
    background: var(--clr-primary);
    color: var(--clr-text-white);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      background: hsl(from var(--clr-primary) h s l / 50%);
      color: var(--clr-primary-content);
      outline: var(--_button-outline) var(--clr-primary);
    }

    &-active {
      background: transparent;
      color: var(--clr-text);
      outline: var(--_button-outline) var(--clr-primary);
    }
  }

  &-action {
    background: var(--clr-secondary);
    color: var(--clr-text-black);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      background: hsl(from var(--clr-secondary) h s l / 50%);
      color: var(--clr-text);
      outline: var(--_button-outline) var(--clr-secondary);
    }
  }

  &-danger {
    color: var(--clr-text-white);
    background: var(--clr-error);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      background: hsl(from var(--clr-error) h s l / 50%);
      color: var(--clr-text);
      outline: var(--_button-outline) var(--clr-error);
    }
  }

  &-alert {
    color: var(--clr-text-black);
    background: var(--clr-alert);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      background: hsl(from var(--clr-alert) h s l / 50%);
      color: var(--clr-text);
      outline: var(--_button-outline) var(--clr-alert);
    }
  }

  &-secondary {
    color: var(--clr-text);
    background: transparent;
    outline: var(--_button-outline) var(--clr-primary-dark);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      background: var(--clr-primary-dark);
      color: var(--clr-text);
    }
  }
  &:is(:disabled, [disabled="true"], .btn-disabled) {
    cursor: not-allowed;
    color: currentColor;
    filter: grayscale(100%);
    opacity: 0.5;
  }

  &-outline {
    color: var(--clr-text);
    background: transparent;
    outline: var(--_button-outline) var(--clr-text);
    transition:
      background 200ms ease-in,
      color 200ms ease-in;

    &:hover,
    :focus-within {
      outline: var(--_button-outline) var(--clr-text);
      background: var(--clr-primary-dark);
      color: var(--clr-text-white);
    }
  }

  &-link {
    color: var(--clr-text);
    background: transparent;
    font-weight: 400;

     &:hover,
    :focus-within {
      outline: none;
      
      font-weight: 800;
    }
  }

  &-sm {
    --_button-outline: 1px solid;
    font-size: var(--fs-200);
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
  }

  &:is(:disabled, [disabled="true"], .btn-disabled) {
    cursor: not-allowed;
    color: currentColor;
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn-group-switch {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  background: var(--clr-secondary);
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-primary);
  font-size: var(--fs-300);
  
  
  .btn {
    padding: .25rem .35rem;

    &:hover {
      background: var(--clr-primary);
      outline: none;

    }

    &:not(.active) {
      background: var(--clr-primary-mute);
      color: var(--clr-primary-content);
    }
  }


}

.btn-inline {
  display: flex;
  gap: 1rem;
}

.btn-full-width {
  display: flex;
  place-content: center;
  width: 100%;
}

.errormessage {
  font-weight: 900;

  border-radius: var(--border-radius);
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: 0.5rem 0.75rem;

  &.danger {
    border: var(--_button-outline) var(--clr-error);
    color: var(--clr-text);
  }

  &.alert {
    border: var(--_button-outline) var(--clr-alert);
    color: var(--clr-text);
  }

  &.succes {
    border: var(--_button-outline) var(--clr-accent-green);
    color: var(--clr-accent-green);
  }
}

.alert {
  display: grid;
  align-items: center;
  gap: 0.35rem;
  border-radius: var(--border-radius);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: var(--clr-background-mute);
  justify-content: start;
  justify-items: start;
  grid-auto-flow: column;
  text-align: start;
  border: 3px solid var(--clr-background-mute);
  margin: 0.5rem 0;

  &-error {
    background-color: var(--clr-error);
    border-color: var(--clr-error);
    color: var(--clr-text-error);
  }
  &-warning {
    background-color: var(--clr-alert);
    border-color: var(--clr-alert);
    color: var(--clr-text-black);
  }
  &-success {
    background-color: var(--clr-accent-green);
    border-color: var(--clr-accent-green);
    color: var(--clr-text-black);
  }
}

.avatar {
  --_avatar-width: 75px;
  aspect-ratio: 1 /1;
  overflow: hidden;
  border-radius: 50%;
  width: var(--_avatar-width);
  background: var(--clr-primary-dark);
  border: 1px solid var(--clr-primary);

  &-race {
    display: flex;
    place-content: center;
  }

  &-placeholder {
    display: grid;
    place-content: center;
    > * {
      place-items: center;
      justify-content: center;
      place-items: center;
      height: 100%;
      text-transform: uppercase;
    }
    
  }
}

.cyclistCard,
.tableeam-info,
.cyclist-info-box {
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  height: var(--rider-card-height);
  max-width: var(--rider-card-width);
  // margin: 0.5rem 0;
  font-size: 0.9rem;

  // &:first-of-type {
  //   // margin-top: 1rem;
  // }
}

.stage-box, .points-box {
  background: var(--clr-background-mute);
  padding: 1rem;
  border-radius: var(--border-radius);
  min-width: 90%;
  
  display: flex;
  margin-bottom: 1em;

  p {
    margin: 0;
  }

  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--body {
    justify-self: start;
  }
}

.stage-box {
  flex-direction: column;
  gap: 0.75rem;
}

.points-box {
  justify-content: space-between;
  background: var(--clr-primary-mute);
  border: 2px solid var(--clr-primary);
  margin-top: 2rem;

  span {
    font-size: var(--fs-400) !important;
    font-weight: 800;
    text-transform: none;
  }
}



.points > span,
span.points {
  font-weight: 800;
}
.sum-line {
  height: 3px;
  display: block;
  background-color: var(--clr-text);
  margin: 1.5rem 0;
  max-width: var(--rider-card-width);
  position: relative;

  .plus {
    position: absolute;
    right: 0;
    background: var(--clr-background);
    font-size: var(--fs-600);
    height: 3px;
    line-height: 0;
    width: 2rem;
    text-align: center;
  }
}

.stage-type-image {
  display: inline-block;
  margin-right: 0.5em;
  width: 20px;
}

.bullet-list {
  margin-left: 3rem;

  span {
    font-weight: 600;
    display: block;
  }

  li {
    margin-bottom: 0.5rem;
  }

  ul {
    margin-left: 3rem;
  }
}

[popover] {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 0.25em;
  overflow: auto;
  color: inherit;
}

:popover-open {
  background-color: var(--clr-background);
  padding: 2rem;
  border: 4px solid var(--clr-primary);
  border-radius: var(--border-radius);
  max-width: 55ch; 
  position: absolute;
  inset: unset;
  margin: auto;
  box-shadow: var(--shadow);

}

::backdrop:has(form) {
  backdrop-filter: blur(3px);
  background: hsl(from var(--clr-primary) h s l / 50%);
}

.badge {
  height: fit-content;
  display: inline-flex;
  gap: 0.15rem;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background: var(--clr-secondary);
  border: 1px solid hsl(from var(--clr-secondary) 190 s 80%);
  color: var(--clr-secondary-content);
  border-radius: 500px;
  font-size: var(--fs-200);
  user-select: none;

  img {
    max-width: 15px;
  }
}

.badged {
  display: flex;
  gap: 0.5rem;
}

.icon-header {
  display: flex;
  align-items: center;
  gap: .5rem;

  h3 {
    margin-bottom: 0;
  }

  .end-icon {
    margin-left: auto;
  }
}

.profile-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  > * {
    background: var(--clr-background-app);
    border-radius: var(--border-radius);
    padding: 1rem;
    border: 1px solid var(--clr-primary);

    > span {
      text-transform: uppercase;
      font-weight: 500;
      font-size: var(--fs-300);
    }

    > p {
      margin-bottom: 0;
      font-weight: 800;
    }

    > h4 {
      font-size: var(--fs-600);
      color: var(--clr-primary);
    }
  }
}
.profile-list--item p{
  font-size: var(--fs-300);
}

.standings-list {
  display: grid;
  gap: 0.5rem;

  .standings-user {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 1rem;


    background: var(--clr-background-mute);
    border-radius: var(--border-radius);

    transition: all .2s ease-in;

    &.hover:hover {
      background-color: var(--clr-primary-mute);
      cursor: pointer;

      > .standings-user--action {
        opacity: 1;
      }
    }

    &.current-user, &.selected-user {
      background: var(--clr-primary-mute);
      font-weight: 800;
    }
    &.selected-user {
      color: var(--clr-primary);
    }

    &--info {
      display: flex;
      gap: 0.5rem;
      flex: 1;

      &__position {
        aspect-ratio: 1;
        width: 30px;
        display: flex;
        place-content: center;
      }
    }

    &--action {
      opacity: 0;

    }
    .standings-user--info__position {
      color: var(--clr-text);
    }
    &:nth-child(1) {
      .standings-user--info__position {
        border: 1px solid hsl(51, 100%, 50%);
        background: hsl(51 100% 40% / 50%);
        border-radius: 5000px;
        font-weight: 800;
      }
    }
    &:nth-child(2) {
      .standings-user--info__position {
        border: 1px solid hsl(0, 0%, 75%);
        background: hsl(0 0% 75% / 50%);
        border-radius: 5000px;
        font-weight: 800;
      }
    }
    &:nth-child(3) {
      .standings-user--info__position {
        border: 1px solid hsl(32, 95%, 44%);
        background: hsla(32, 95%, 44%, 0.5);
        border-radius: 5000px;
        font-weight: 800;
      }
    }
  }
}

.selection-list {
  display: grid;
  gap: .5rem;
}



.user-result-item {
  display: flex;
  gap: 1rem;

  :first-child {
    border: 1px solid var(--clr-primary);
    background: var(--clr-primary-mute);
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:nth-of-type(1) > :first-child {
    border: 1px solid gold;
    background: hsl(51 100% 40% / 0.5);
  }
  &:nth-of-type(2) > :first-child {
    border: 1px solid gold;
    background: hsl(51 100% 40% / 0.5);
  }
  &:nth-of-type(3) > :first-child {
    border: 1px solid gold;
    background: hsl(51 100% 40% / 0.5);
  }

  & > *:last-of-type {
    margin-left: auto;
  }
}